{% extends 'core/_base.html' %} {% load static %} {% block content %} {% include 'core/_menu1.html' %}
<section class="login">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h1 class="text-center pt-5 mb-5 d-inline border-bottom">Login</h1>
            </div>
        </div>
        {% include 'core/_alertas.html' %}
        <div class="row">
            <div class="col-lg-8">
                <div class="form">
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <input type="text" name="email" id="email" placeholder="Seu E-mail...">
                        <input type="password" name="senha" id="senha" placeholder="Sua senha...">
                        <button type="submit" class="mt-2">ENTRAR</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 d-flex justify-content-center">
                <img src="{% static 'img/login.png' %}" alt="" style="width: 420px;">
            </div>
        </div>
    </div>
</section>
{% include 'core/_footer.html' %}{% endblock %}